@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all .5s;
}

body {
/*   background: #066acd; */
  background-image: radial-gradient(circle, #7425a7, #592397, #3f2087, #241b75, #001663);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: 10rem;
  font-weight: 500;
  color: rgba(8, 6, 133);
  color: #f9fafb;
  letter-spacing: 1px;
  margin: 30px 0px;
  text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
  opacity: 0.7;
}

.main-container {
  width: 500px;
  height: auto;
  padding: 20px;
  box-shadow: 0px 15px 35px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: rgba(204, 204, 204, 0.2);
}

.main-container:hover {
    transform: translateY(-5px);
    transition: all 1s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.adding-list-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
}

.input-list {
  border-radius: 8px;
  border: 2px solid #d1d3d4;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  color: #111;
}

.input-list:focus {
  outline: none;
  border-color: #0d75ec;
}

.input-list::placeholder {
  color: #444;
  text-align: center;
  opacity: 0.9;
}

.add-btn {
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #e4a11b;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}

.add-btn:hover {
  box-shadow: 0px 0px 20px hsl(340, 80%, 60%);
  transition: all .5s;
  cursor: pointer;
}

.tasks-box {
  width: 100%;
  margin-top: 30px;
}

.item {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
}

.item p {
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  letter-spacing: 1px;
}

.completed span {
  color: #75e6da;
  text-decoration: line-through;
}

.item-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-btn i {
  color: rgba(8, 6, 133);
  font-size: 1.2rem;
  cursor: pointer;
}


/* set responsiveness */

@media screen and (max-width: 640px) {
  .title {
    font-size: 4rem;
  }
}
